    body{
        font-size: 62.5%;
    }
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 1.8em;
    }
    p {
        font-size: 1.2em;
    }


    #eqInput{
        border: solid;
        width: 64em;
        padding: 0em 1em;
    }
    #eqInput h1 {
        float: left ;
    }
    #eqInput button {
        margin-left: 1em;
    }

    #eqInput input {
        padding-left: 1em;
        margin-left: 2em;

    }
    #eqInput textarea {
        margin: 0.4em 0.2em;
    }
    #eqInput #inputEmail{
        float: right; 
        background: #666;
        margin-top: 2em;
        padding: 0.2em; 
    }
    #eqInput,#eqOutput, footer {
        margin-left: auto;
        margin-right: auto;
        margin-top: 1em;        
    }
    #eqOutput{
        border: solid;
        width: 64em;
        padding: 0em 1em;
    }
    footer {
        border: solid;
        width: 64em;
        padding: 0em 1em;

    }
